.formWrapper{
    width :100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: var(--padding-l);
    width :400px;
    height: 700px;
    gap: var(--padding-l);
    background-image: url("/elements/form.png");
    background-position: center;
    background-size: 100% 100%;
    border-radius: var(--radius);
    box-shadow: var(--element-shadow);  
    
}