.title{
    color : var(--green-accent-color);
    font-family: var(--decore-font-family);
    font-size: 25px;
    width :100%;
    text-align: center;
    text-transform: capitalize;
    opacity: 0.8;
    transition: var(--transition);
  }