.button {
  overflow: hidden;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: var(--green-bg-color);
  background-size: cover;
  background-position: 20px center;
  border: 3px solid var(--green-border-color);
  color: var(--green-text-color);
  font-weight: bolder;
}
