.messager{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: var(--padding-s) var(--padding-m);
    box-shadow: var(--element-shadow);
    border-top: 1px solid var(--green-border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--padding-s);
}