
.nav{
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    list-style: none;
    position: absolute;
    top :80px;
    right: -150px;
    transition: var(--transition);
    opacity: 0;
}
.open{
    right: 0;
    opacity: 1;
}