:root {
  --green-text-color: #a4d157;
  --green-text-color-secondary: #87a256;
  --green-bg-color: #22281f;
  --green-accent-color: #c8ff00;
  --green-border-color: #39402d;

  --decore-font-family: "VT323", monospace;
  --font-family: "Noto Sans", sans-serif;
  --transition: all 0.1s ease;
  --element-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9), 0 0 10px rgba(0, 0, 0, 1);
  --text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);

  --padding-s: 10px;
  --padding-m: 20px;
  --padding-l: 30px;

  --max-width: 1440px;

  @media screen and (max-width: 1024px) {
  }
  @media screen and (max-width: 900px) {
  }
  @media screen and (max-width: 600px) {
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--green-text-color);
  background: var(--green-bg-color);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
