.mainLayout{
    min-height: 100vh;
    position: relative;
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto ;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "header header header"
                          "navigation content content"
                          "navigation content content"
                          "navigation content content"
                          "footer footer footer"
    ;
        background-image: url("/map.webp");
        background-size: cover;
        background-position: left bottom;
    /* test */
    &>*{
        border: 1px solid red;
    }
    .layoutHeader{
        grid-area: header;
        padding: var(--padding-m);
    }
    .layoutNavigation{
        grid-area: navigation;
        padding: var(--padding-m);
    }
    .layoutContent{
        grid-area: content;
        padding: var(--padding-m);
    }
    .layoutFooter{
        grid-area: footer;
        padding : var(--padding-m);
    }
    @media screen and (max-width: 600px) {
        grid-template-areas: "header header header"
                              "content content content"
                              "content content content"
                              "footer footer footer"
        ;
        .layoutNavigation{
            position: absolute;
        }
    }
}