.button {
    transition: var(--transition); /* Исправлено */
    overflow: hidden;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-image: url("/elements/button.png");
    background-color: transparent;
    background-size: cover;
    background-position: center;
    color: var(--green-text-color);
    font-weight: bolder;
    width: 45px;
    height: 45px;
    position: relative;
    box-shadow: var(--element-shadow);
    flex-shrink: 0;
    outline: none;
    &::before {
      transition: var(--transition); /* Исправлено */
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      opacity: 0;
      background: radial-gradient(circle, var(--green-accent-color) 0%, transparent 65%);
      border-radius: 50%;
      z-index: 0;
      pointer-events: none;
    }
    
    &:hover::before {
      width: 80%;
      height: 80%;
      opacity: 1;
    }
    
    &:active {
      &::before {
        width: 90%;
        height: 90%;
        opacity: 1;
      }
    }
    &:focus {
      &::before {
        width: 90%;
        height: 90%;
        opacity: 1;
      }
    }
    
}
.active{
  &::before {
    width: 90%;
    height: 90%;
    opacity: 1;
  }
}
  
  